*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
main{
    width: 80%;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    background-color:#ADD8E6 ;
}
h1{
    color:#000000 ;
    margin-bottom: 10px;
}
h2{
    color:#0000CD;
}
div{
    color:#000000 ;
}
hr{
    height: 3px;
    margin-bottom: 10px;

}
.img_content{
    display: flex;
    justify-content: space-between;
}
.img_content img{
    width: 130px;
    height: 130px;
    border-radius: 5px;
}
.liens_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.liens a{
    color: #0000cda9;
    text-decoration: none;
    margin: auto 5px;
}
.liens img{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}
p{
    font-style: italic;
    text-align: end;
    opacity: 0.8;
}